@font-face {
  font-family: steelfish_outline;
  src: url(../fonts/steelfish/steelfish\ outline.otf);
}

@font-face {
  font-family: steelfish_rg;
  src: url(../fonts/steelfish/steelfish\ rg.otf);
}

@font-face {
  font-family: steelfish_rg_italic;
  src: url(../fonts/steelfish/steelfish\ rg\ it.otf);
}

@font-face {
  font-family: acherus_militant;
  src: url(../fonts/acherus_militant/acherus_militant_1_-_light.otf.otf);
}

@font-face {
  font-family: acherus_militant_bold;
  src: url(../fonts/acherus_militant/acherus_militant_1_-_bold.otf.otf);
}